.container {
    list-style: none;
    display: inline-block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em .5em;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(200, 200, 200, .7);
}

.container:last-child {
    border-bottom: none;
}

.container input {
    margin-right: 1em;
    flex-shrink: 0;
}

.container span {
    margin-right: auto;
    font-size: 1.3em;
    text-align: left;
}
